/* @group General */
@media only screen and (min-width: 1024px) {
.row {
	max-width: 98%;
}
#content, #left-column, #right-column {
	height: 610px;
}
.large-2 {
	width: 20%;
	padding-right: 0;
	padding-left: 0;
}
.large-8 {
	width: 60%;
	padding-right: 1%;
	padding-left: 1%;
}
.large-10 {
	width: 80%;
	padding-right: 1%;
	padding-left: 1%;
}
.large-push-2 {
	left: 20%;
}
.large-pull-8 {
	right: 60%;
}
}
@media only screen and (min-width: 1200px) {
.top-bar .title-area {
	margin-left: 2%;
}
/*.top-bar-section ul {
	margin-right: 2%;
}*/
.row {
	max-width: 1200px;
}
#content, #left-column, #right-column {
	height: 660px;
}
}
@media screen and (min-width: 1024px) and (max-width: 1200px) {
#mainmenu li {
	height: 80px;
	padding: 25px 10px 10px;
}
#subHome .image {
	height: 415px;
	background-size: auto 425px;
}
}
@media only screen and (max-width: 1023px) {
.off-canvas-wrap {
	padding: 0;
}
#payoff, #portfolio {
	display: none;
}
#mainmenu li {
	width: 100%;
	text-align: left;
	height: auto;
	padding: 10px 30px;
	line-height: 26px;
}
#mainmenu i, .top-bar-section ul i, ul.off-canvas-list i {
	display: inline-block;
	float: right;
	font-size: 24px;
}
ul.off-canvas-list li {
	color: #fff;
	padding: 0.66667rem;
}
ul.off-canvas-list li:first-child {
	padding: 0;
}
ul.off-canvas-list img {
	margin-top: -5px;
}
.top-bar.expanded .title-area, .top-bar-section ul {
	background: #2e008b;
}
.left-small {
	border-right: none;
}
.move-right .exit-off-canvas {
	-moz-box-shadow: 3px 0 3px rgba(0, 0, 0, 0.3) inset;
	-webkit-box-shadow: 3px 0 3px rgba(0, 0, 0, 0.3) inset;
	box-shadow: 3px 0 3px rgba(0, 0, 0, 0.3) inset;
	background: none;
}
ul.off-canvas-list li a {
	border-bottom: none;
	color: #fff;
}
ul.off-canvas-list li a:hover,ul.off-canvas-list li a:active {
	background: #01b6ed;
}
ul.off-canvas-list .title {
	display: inline-block;
	width: 145px;
	vertical-align: top;
	padding: 10px;
}
ul.off-canvas-list .photo {
	display: inline-block;
	vertical-align: top;
}
.photo img {
	max-width: 100px;
	max-height: 100px;
}
#content .columns {
	padding: 6px 0;
}
#alertbox, #popupbox1, #ecardbox {
	left: 3%;
	top: 2%;
	text-align: left;
	width: 94%;
	margin-left: auto;
}
}
/* @end */
/* @group Login */
@media only screen and (max-width: 1023px) {
#content .colleaguelogin, #content .firsttime {
	height: 400px;
	padding: 20px;
}
.blueButton {
	margin-top: -10px;
}
.LoginPadding {
	margin-top: 8px;
}
}
/* @end */
/* @group Home */
@media only screen and (max-width: 1023px) {
.panel.callout.ourbeliefs {
	padding: 8%;
}
#home1 .image .ourbelief {
	font-size: 16px;
}
/*#messageEmployee {
	padding: 30px;
}*/
p {
	font-size: 1em;
	text-align: left;
	margin-top: 2rem;
	margin-bottom: 1rem;
	line-height: 1.3;
}
.panel.callout.faqs {
	padding: 5% 8%;
}
#content .title {
	margin-bottom: 5px;
}
ol {
	margin-left: 1.2rem;
}
.right {
	float: right !important;
	padding-left: 60px;
}
/*.title {
	padding: 30px 40px;
}*/
}
/* @end */
/* @group Home */
@media only screen and (max-width: 1199px) {
#home1, #home2, #home3 {
	margin-bottom: 0px;
}
#home1 .image {
	height: 265px;
}
#home2 .image, #home3 .image {
	height: 170px;
}
#home5 {
	margin-bottom: 0px;
}
#home4 .image {
	height: 109px;
}
#home5 .image {
	height: 157px;
}
}
/* @end */
/* @group Content */
@media only screen and (min-width: 1200px) {
.contentFill {
	height: 605px;
}
}
@media only screen and (max-width: 1023px) {
.contentFill {
	height: auto;
	min-height: 100px;
}
.fillHeight {
	min-height: 300px;
}
}
/* @end */
/* @group Nominate */
@media only screen and (max-width: 1199px) {
.height505 {
	height: 455px;
}
.height555 {
	height: 505px;
}
.height480 {
	height: 430px;
}
.withPadding {
	padding: 7px 10px;
}
}
@media only screen and (max-width: 1023px) {
#subHome .image {
	background-size: 100% auto;
	background-repeat: no-repeat;
	height: 190px;
}
.tableTitle {
	font-size: 13px;
	padding: 14px 0px;
	text-align: center;
	background: #2E008B none repeat scroll 0% 0%;
	color: #FFF;
}
.tableColumn-3 {
	display: inline-table;
	width: 30%;
}
.closealert {
	top: -10px;
	right: -5px;
}
/*.title {
	padding: 30px 15px;
}*/
.title .awardStar {
	margin-left: -3px;
}
.withStar.title .right {
	margin: 0px 20px 0px 0px;
}
.nominateButton {
	padding: 40px 0;
	height: auto;
}
.tableColumn-4 {
	width: 60%;
	margin-right: 20px;
	display: inline-table;
	padding: 20px 4px;
}
.tableReports {
	font-size: 13px;
	height: 60px;
	padding: 0px;
	text-align: center;
	background: #2E008B none repeat scroll 0% 0%;
	color: #FFF;
}
.tableReportsHead.white {
	background: #FFF none repeat scroll 0% 0%;
	color: #2E008B;
	display: inline-table;
	padding: 8px 30px;
	border-right: 1px solid #5833A2;
}
.searchInput {
	min-height: 50px !important;
}
.searchInput input[type=text] {
	width: 100%;
}
.searchInput .medium-10 {
	width: 70%;
}
.searchInput .medium-2 {
	width: 28%;
}
.valign-middle .columns {
	display: block;
}
.searchResult .medium-2 {
	float: left;
	width: 20%;
}
}
/* @end */
/* @group Messages */
@media only screen and (max-width: 1199px) {
.height590 {
	height: 540px;
}
.height233 {
	height: 206px;
}
.height252 {
	height: 225px;
}
.height306 {
	height: 284px;
}
.height158 {
	height: 148px;
}
}
@media only screen and (max-width: 1023px) {
#winnerswall .tableColumn-3 {
	width: 48%;
}
}
/* @end */
/* @group Redeem */
@media only screen and (max-width: 1199px) {
.sub-menu > li > a {
	padding: 2px 40px;
}
}
@media only screen and (max-width: 1023px) {
#redeemHome .columns, #content .products .columns {
	padding: 0 1%;
}
#redeemHome, .products {
	margin-bottom: 5px !important;
}
}
/* @end */
/* @group Override */
@media only screen and (max-width: 1199px) {
.height590,.height555, .height505, .height490 {
	height: auto;
}
}
/* @end */
/* @group My Awards */
@media only screen and (max-width: 1023px) {
#content .title {
	margin-bottom: 5px;
	padding: 10px 15px;
	min-height: initial;
}
}
@media only screen and (max-width: 479px) {
.tableColumn-3 {
	display: inline-table;
	width: 18%;
	padding: 0 0 0 3px;
	font: 8px;
}
}
@media only screen and (min-width: 480px) {
.tableColumn-3 {
	display: inline-table;
	width: 24%;
	font: 8px;
}
}
/* @end */
/* @group Admin */
@media only screen and (max-width: 1199px) {
#staffedit {
	line-height: 30px;
}
#staffedit .doubleLine {
	line-height: 15px;
}
#staffedit input[type=text], #staffedit input[type=password], #staffedit input[type="radio"] {
	margin: 4px 0 0;
	padding: 2px 5px;
}
}
@media only screen and (max-width: 1023px) {
#staffedit {
	line-height: initial;
	padding: 0 2% 2%;
}
#staffedit .columns {
	padding: 4px 0 0;
}
#staffedit p {
	text-align: right;
	margin: initial;
}
}
/* @end */
/* @group ecard */
@media only screen and (max-width: 1199px) {
#ecardbox {
	top: 40px;
	width: 500px;
	margin-left: -250px;
}
.colorblock {
	margin-bottom: 0px;
}
.ourheroes img {
	height: 45px;
}
}
@media only screen and (max-width: 1023px) {
#ecardbox {
	top: 2%;
	width: 94%;
	margin-left: auto;
}
.ecardPadding {
	font-size: 12px;
}
.colorblock {
	padding: 10px;
	margin-bottom: 0px;
}
.colorblock p {
	margin-top: 0.4rem;
	margin-bottom: 0.4rem;
}
.ourheroes img {
	height: 30px;
}
}
/* @end */