@import 'icomoon.css';
/* @group Structure */
body{
	background-color: #eaedf2;
	font: 13px Arial;
	color: #2e008b;
}
.panel.callout, .panel.callout h1, .panel.callout h2, .panel.callout h3, .panel.callout h4,
.panel.callout h5, .panel.callout h6, .panel.callout p, .panel.callout li,
.panel.callout dl {
    color: #2e008b;
}
.top-bar{
	background: #2e008b;
	height: 50px;
	margin-bottom: 10px;
}
.top-bar {
	-moz-box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow:  0px 2px 2px 2px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.3);
}
.top-bar-section ul li, 
.top-bar-section li:not(.has-form) a:not(.button),
.top-bar-section li:not(.has-form) a:not(.button):hover {
	background: none;
}
.off-canvas-wrap{
	padding: 30px 0 0;
}
.panel.callout{
	margin-bottom: 3%;
	background: transparent;
	-moz-box-shadow: 0px 0px 3px #ccc;
	-webkit-box-shadow:  0px 0px 3px #ccc;
	box-shadow: 0px 0px 3px #ccc;
	border: 0;
	padding: 0px;
}
.helper{
	display: inline-block;
    height: 100%;
    vertical-align: middle;
}
#payoff{
	height: 15%;
	text-align: center;
	-moz-box-shadow: none;
	-webkit-box-shadow:  none;
	box-shadow: none;
}
#payoff img{
	height: 70%;
}
.title{
	background-color: #2e008b;
	padding: 12px 15px;
	color: #fff;
}
.subTitle{
	font-size: 13px;
}
.subSubTitle{
	color: #00b6ed;
	font-size: 13px;
}
#messages{
	background-color: #fff;
	height: 53%;
}
#messages i{
	font-size: 18px;
}
#awards{
	background-color: #2e008b;
	height: 30%;
	color: #fff;
}
#awards .title{
	border-bottom: 1px solid #4001c4;
}
#mainmenu div{
	padding: 10px;
}
#portfolio{
	height: 39%;
}
.photo{
	overflow: hidden;
	height: 85%;
	position: relative;
}
.photo img {
    display: block;
    max-width:240px;
    max-height:240px;
    width: auto;
    height: auto;
}
.uploadPhoto{
	position: absolute;
	bottom: 8px;
	right: 12px;
}
.uploadPhoto i{
	border: 3px dashed #fff;
	padding: 3px;
	font-size: 18px;
}
#portfolio .title{
	text-align: right;
	font-size: 14px;
	height: 15%;
}
ul{
	margin: 0;
}
#mainmenu{
	height: 60%;
	background-color: #2e008b;
}
#mainmenu li{
	list-style-type: none;
	display: inline-block;
	padding: 10px;
	color: #fff;
	width: 48%;
	height: 100px;
	text-align: center;
	font-size: 13px;
}
#mainmenu li.selected{
	color: #00b6ed;
}
#mainmenu i{
	font-size: 32px;
	display: block;
	margin: 0 auto 5px;
}.tab-bar{
	background-color: #2e008b;
	margin-bottom: 20px;
}
.tab-bar-section.right{
	text-align: left;
}
.top-bar-section .dropdown li:not(.has-form):not(.active) > a:not(.button) {
	background: #2e008b;
}
.top-bar-section .dropdown li:not(.has-form):not(.active):hover > a:not(.button),.left-off-canvas-menu {
	background: #2e008b;
}
.top-bar-section ul li:hover:not(.has-form) > a{
	background: none;
}
h1, h2, h3, h4, h5, h6{
	color: #2e008b;
}
h1 {
	margin: 10px 0 15px;
	font: normal 18px Arial;
}
h2 {
	margin: 10px 0 10px;
	font: normal 16px Arial;
}
h3 {
	margin: 10px 0 10px;
	font: normal 16px Arial;
}
p{
	font-size: 1em;
	margin-bottom: 1rem;
	line-height: 1.3;
}
input[type=text],input[type=password],input[type=email], textarea{
	background: #ebebeb;
	border-radius: 16px;
	font-size: 13px;
	color: #2e008b;
	padding: 5px 15px;
	height: auto;
	margin: 0.5rem 0;
}
textarea{
	border-radius: 8px;
	line-height: 20px;
	padding: 10px 15px;
}
::-webkit-input-placeholder {
	color: #a7a8aa;
}
:-moz-placeholder {
	color: #a7a8aa;
}
::-moz-placeholder {
	color: #a7a8aa;
}
:-ms-input-placeholder {
	color: #a7a8aa;
}
::-ms-input-placeholder {
	color: #a7a8aa;
}
:placeholder-shown {
	color: #a7a8aa;
}
input[type=submit], .blueButton {
	background-color: #2e008b;
	font-size: 11px;
	padding: 7px 16px;
	border: 1px solid #270272;
	color: #fff !important;
	cursor: pointer;
	text-transform: uppercase;
	border-radius: 16px;
}
.pinkButton {
	background-color: #ec008c;
	font-size: 11px;
	padding: 7px 16px;
	border: 1px solid #e20186;
	color: #fff !important;
	cursor: pointer;
	text-transform: uppercase;
	border-radius: 16px;
}
.purpleButton {
	background-color: #8c66bd;
	font-size: 11px;
	padding: 7px 16px;
	border: 1px solid #260175;
	color: #fff !important;
	cursor: pointer;
	text-transform: uppercase;
	border-radius: 16px;
}
#content .panel.callout a:not(.button){
	color: #00b6ed;
}
#content.panel.callout a:not(.button):hover, #content .panel.callout a:not(.button):focus{
	color: #2e008b;
}
.row .row {
	margin: inherit;
}
.clickAble{
	cursor: pointer;
}
.textLeft{
	text-align: left;
}
.textRight{
	text-align: right;
}
.textCenter{
	text-align: center;
}
.valign-middle {
    display: table;
}
.valign-middle .columns {
    display: table-cell;
    vertical-align: middle;
}
.valign-middle .columns,
.valign-middle [class*="column"] + [class*="column"]:last-child {
    float: none;
}
.mCSB_inside>.mCSB_container {
    margin-right: 0px;
}
.mCSB_scrollTools{
	width: 8px;
	opacity: 1;
	z-index: 5;
}
.mCS-dark-2.mCSB_scrollTools .mCSB_draggerRail{
	background-color: #e5e5e5;
	width: 8px;
}
.mCS-dark-2.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	background-color: #b2b2b2;
}
li.ui-menu-item { font-size:13px !important; }
.required{
	color: #f0393e;
	font-size: 16px;
	padding: 0 3px;
}
.withPadding{
	padding: 10px;
}
.withSidePadding{
	padding: 0px 10px;
}
.row .row.noMargin{
	margin: 0;
}
.icon-icons_i{
	margin: 0 5px;
}
.hidden{
	display: none;
}
.lightBlue{
	color: #00b6ed;
}
.pink{
	color: #ec008c;
}
.inlineDiv{
	display: inline-block;
	vertical-align: middle;
}
.greyText{
	color: #5a5a5a !important;
}
.blueText{
	color: #2e008b !important;
}
/* @end */

/* @group Content */
#content .columns{
	padding-left: 1%;
	padding-right: 1%;
}
#content .leftnp{
	padding-left: 0;
}
#content .rightnp{
	padding-right: 0;
}
#subHome {
	margin-bottom: 15px;
}
#subHome .image {
	height: 465px;
	background-size: auto 465px;
}
/* @end */


/* @group Alert Popup */
#alert, #viewEcard, #popup1, #ecardPopup{
	background-color: rgba(0,0,0,0.7);
	display: none;
	z-index: 99;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
#alertbox, #popupbox1, #ecardbox{
	z-index: 99;
	position: fixed;
	left: 50%;
    top: 90px;
	text-align: left;
	width: 400px;
	margin-left: -200px;
	min-height: 250px;
	max-height: 600px;
	font-size: 13px;
	color: #333;
	background-color: #fff;
	-moz-box-shadow: 0px 0px 3px #000;
	-webkit-box-shadow:  0px 0px 3px #000;
	box-shadow:  0px 0px 3px #000;
}
#ecardbox{
    top: 50px;
	width: 610px;
	margin-left: -305px;
	max-height: none;
}
#alertbox{
	min-height: 200px;
}
.closealert {
	position: absolute;
	top: -12px;
	right: -12px;
	cursor: pointer;
	color: #fff;
	font-size: 22px;
}
#alertContent, #popupContent1{	
	padding: 0px;
	position: relative;
}
#popupEcard{	
	padding: 5px;
}
#alertTitle{	
	padding: 20px;
	font-size: 14px;
	font-weight: bold;
	height: auto;
}
#alertBody{	
	font-size: 13px;
	height: auto;
	color: #2e008b;
}
#alertBody .tableRow{
	border-bottom: 1px solid #e9e9e9;
	padding: 20px;
}
.expandArrow i{
	position: absolute;
	left: 6px;
}
#subPopup{
	background-color: rgba(0,0,0,0.4);
	display: none;
	z-index: 99;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
#subPopupbox{
	z-index: 999;
	position: absolute;
	left: 10px;
    top: 145px;
	text-align: left;
	width: 93%;
	font-size: 13px;
	color: #5a5a5a;
	background-color: #fff;
	-moz-box-shadow: 0px 0px 3px #000;
	-webkit-box-shadow:  0px 0px 3px #000;
	box-shadow:  0px 0px 3px #000;
	padding: 20px;
}
.whiteUpArrow{
	width: 0; 
	height: 0; 
	-moz-box-shadow:-1px -1px 1px 0px #333;
	-webkit-box-shadow: -1px -1px 1px 0px #333;
	box-shadow: -1px -1px 1px 0px #333;
    width: 16px;
    height: 16px;
    -webkit-transform: translateY(8px) rotate(45deg);
	position: absolute;
	top: -15px;
	left: 110px;
	background-color: #fff;
}
.UpArrowRight{
	left: 125px;
}
#subPopupbox i{
	font-size: 20px;
	color: #2e008b;
	background: #fff;
    border-radius: 10px;
}
/* @end */

@media only screen and (min-width: 1024px){
.row{
	max-width: 98%;
}
#content, #left-column, #right-column{
	height: 610px;
}
.large-2{
	width: 20%;
	padding-right: 0;
	padding-left: 0;
}
.large-8{
	width: 60%;
	padding-right: 1%;
	padding-left: 1%;
}
.large-10{
	width: 80%;
	padding-right: 1%;
	padding-left: 1%;
}
.large-push-2{
	left: 20%;
}
.large-pull-8{
	right: 60%;
}
}
@media only screen and (min-width: 1200px){
.top-bar .title-area{
	margin-left: 2%;
}
.top-bar-section ul{
	margin-right: 2%;
}
.row{
	max-width: 1200px;
}
#content, #left-column, #right-column{
	height: 660px;
}
}
@media screen and (min-width: 1024px) and (max-width: 1200px) {
#mainmenu li{
	height: 90px;
}
}

@media only screen and (max-width: 1023px){
#payoff, #portfolio{
	display: none;
}
#mainmenu li{
	width: 100%;
	text-align: left;
	height: auto;
	padding: 10px 30px;
	line-height: 26px;
}
#mainmenu i, .top-bar-section ul i, ul.off-canvas-list i{
	display: inline-block;
	float: right;
	font-size: 24px;
}
ul.off-canvas-list li{
	color: #fff;
	padding: 0.66667rem;
}
ul.off-canvas-list li:first-child{
	padding: 0;
}
ul.off-canvas-list img{
	margin-top: -5px;
}
.top-bar.expanded .title-area, .top-bar-section ul{
    background: #2e008b;
}
.left-small{
	border-right: none;
}
.move-right .exit-off-canvas{
	-moz-box-shadow: 3px 0 3px rgba(0, 0, 0, 0.3) inset;
	-webkit-box-shadow: 3px 0 3px rgba(0, 0, 0, 0.3) inset;
	box-shadow: 3px 0 3px rgba(0, 0, 0, 0.3) inset;
	background: none;
}
ul.off-canvas-list li a{
	border-bottom: none;
	color: #fff;
}
ul.off-canvas-list li a:hover,ul.off-canvas-list li a:active {
	background: #01b6ed;
}
ul.off-canvas-list .title{
	display: inline-block;
    width: 145px;
    vertical-align: top;
    padding: 10px;
}
ul.off-canvas-list .photo{
	display: inline-block;
    vertical-align: top;
}
.photo img{
	max-width: 100px;
	max-height: 100px;
}
#content .columns{
	padding: 2px 0;
}
}
