<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
        </staticContent>
        <rewrite>
            <rules>
                <rule name="Redirect" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="cruk.xexec.com" />
                        <add input="{HTTP_HOST}" pattern="ourheroes.cruk.org" />
                    </conditions>
                    <action type="Redirect" url="https://ourheroes.cruk.org:9443" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
